{% include 'pageMacros.html' %}

{# This serves as our base template; it is rendered inside of the 'apos-refreshable' class in outerLayout.html. #}
{# This is where we declare the main blocks that our layout is composed of, e.g. header, main, footer, etc. #}
{# Depending on your needs this is where you would create blocks that you can hook into from other templates, #}
{# e.g. the extraBreadcrumbs block within the breadcrumbs block. #}

{# DO NOT REMOVE THESE COMMENTS. We parse these for outerLayout and refresh operations #}
<!-- APOS-BODY-CLASS {% block bodyClass %}{% endblock %} -->
<!-- APOS-TITLE {% block title %}{% endblock %} -->
<!-- APOS-EXTRA-HEAD {% block extraHead %}{% endblock %} -->
<!-- APOS-SEO-DESCRIPTION {% block seoDescription %}{% endblock %} -->

{% block header %}

<div class="main-navigation">
  <div class="container">
    <header><div class="site-header sticky" role="banner">
        <div class="wrapper">
            <a class="tbi-logo-large" href="/">Think Brownstone</a>
            <a class="tbi-logo-slim" href="/"><span>think</span> brownstone</a>
            <nav>
            {% block mainNav %}
              <div class="mobile-nav"></div>
              <ul class="site-nav" role="navigation">
                {% for tab in page.tabs %}
                  {% if tab.slug == page.slug %}
                    <li class="active nav-{{ tab.slug.substr(1) }}">{{ pageLink(tab) }}</li>
                  {% else %}
                    <li class="nav-{{ tab.slug.substr(1) }}">{{ pageLink(tab) }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endblock %}
            </nav>
        </div>
    </div></header>
  </div>
</div>
{% block headerBody %}
{% endblock %}


{% endblock %}

{% block hero %}
  <div class="testing-hero"></div>
{% endblock %}

{% block breadcrumbs %}
  <div class="block breadcrumb-nav">
    <div class="inner">
      <ol class="breadcrumbs ancestors clearfix">
        {% for relative in page.ancestors %}
          <li>{{ pageLink(relative) }}&nbsp;/&nbsp;</li>
        {% endfor %}

        {# Templates for extended URLs of greedy pages (like blog post permalink pages #}
        {# will want to make the greedy page itself a link and add more li's. #}
        {# see the apostrophe-blog's show.html for an example of this. #}
        {% block extraBreadcrumbs %}
        <li>{{ pageLink(page, { span: true }) }}</li>
        {% endblock %}
      </ol>
    </div>
  </div>
{% endblock %}

{% block main %}

  {# most content will be just fine sitting within our 'block' class, but we always #}
  {# have the option to override the 'main' block if we want a little more control. #}
  {% block mainContent %}
  {% endblock %}

{% endblock %}

{% block extraContent %}
{% endblock %}

{# notice that this footer uses global areas: if we want editable content to appear #}
{# on every page that inherits this one we want to use the global object instead of #}
{# the page object. #}
{% block footerBody %}
    <footer><div class="site-footer" role="contentinfo">
        <div class="wrapper">
            <address>
                <!--<p class="visually-hidden">Think Brownstone</p>-->
                <p class="logo"><a href="/"><img src="http://placehold.it/324x128" alt="Think Brownstone"/></a></p>
                <p class="cta-footer">Give us a call at <span class="tel">800.296.9190</span> or <a href="">send us a message.</a></p>
            </address>
            <ul class="social-footer">
                <li><a href="" class="fb">Facebook</a></li>
                <li><a href="" class="tw">Twitter</a></li>
                <li><a href="" class="gp">Google+</a></li>
                <li><a href="" class="fl">Flickr</a></li>
                <li><a href="" class="dr">Dribbble</a></li>
                <li><a href="" class="tw">Twitter</a></li>
            </ul>
            <p class="copyright">&copy; 2014 Think Brownstone Inc. All rights reserved.</p>
        </div>
    </div></footer> <!-- .site-footer -->
{% endblock %}

