@import 'tbi/normalize.less';
@import 'fonts.less';
@import 'mixins.less';
@import 'defaults.less';
// @import 'templates.less';
// @import 'global.less';
@import 'login.less';
@import 'search.less';
// @import 'homepage.less';
// @import 'blog.less';
// @import 'sections.less';
// @import 'map.less';
// @import 'responsive.less';
// @import 'lockups.less';

// main styles
@import 'tbi/all.less';
@import 'shapes-sprites.css';

// responsive styles
@import 'tbi/small.less';
@import 'tbi/medium.less';
@import 'tbi/full.less';


// You can redefine all the apos mixins even as late as this, and they apply
// retroactively to all the LESS already loaded, thanks to the two-pass
// compilation of LESS
// @apos-base: rgb(192, 50, 255);

.apos-admin-bar {
    position: fixed;
    top: 0;
    z-index: 801;
}

.logged-in .site-header.sticky {
    top: 40px;
}
.site-header.sticky {
    background-color: transparent;
    .tbi-logo-large {
        display: block;
        height: 170px;
        position: absolute;
        z-index: 1001;
    }
}

.site-nav {
    .transition( all 0.3s ease-in-out);
    .curent a{
        border: 2px solid #191919;
    }
}

.site-header.sticky.narrow {
    height: 60px;
    background-color: #191919;
    .site-nav {
        padding: 17px 0;
    }
    .tbi-logo-large {
        display: none;
    }
}

.site-header .tbi-logo-large {
    margin-top: -60px;
}

.main-navigation + div .apos-ui-container:first-of-type {
    margin-top: 160px;
}

.home-featured-slides {
    > li {
        position: relative;
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center center;
        background-color: #000;
    }
    .inner-content {
        position: absolute;
        top: 200px;
        padding: 100px 70px;
        width: 100%;
    }
    h2 {
        font-size: 5rem;
        color: #fff;
        text-align: center;
        font-weight: 700;
    }
    .secondary-title {
        font-family: "freight-sans-pro", sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 15px;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
}

// this shims older no media query browsers to get a 500px tall slider
// for newer browsers we start off with a large slider and go down
@media all and (max-height: 9999px) {
    .home-featured-slides > li {
        height: 800px;
    }
}

// iPad Portrait and smaller (covers mobile)
@media all and (max-height: 768px) {
    .home-featured-slides > li {
        height: 600px;
    }
}

// mobile-specific
@media all and (max-height: 600px) {
    .home-featured-slides > li {
        height: 600px;
    }
}


div.banner-case-study-large {
    top: 130px;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    padding-top: 86px;
    span {
        color: #fff;
        font-family: "freight-sans-pro", sans-serif;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 17px;
        font-size: 1.7rem;
        letter-spacing: 2px;
    }
}

.btn.work {
    background: #3a9dcd;
    color: #fff;
}

.callout strong{
    font-family: "freight-sans-pro", sans-serif;
}

// @TODO don't use "teaser-featured" CSS class, that should be nth-of-type with fallback

.teaser-group.sbs .teaser {
    width: 33%;
    background-position: center center;
    height: 450px;
    .teaser-headline {
        font-size: 30px;
        font-size: 3rem;
    }
    &:nth-of-type(2) {
        max-height: 120%;
        margin-top: -30px;
        height: 530px;
    }
    .bottom-anchor {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 30px;
    }
    .view-more-link {
        margin-top: 40px;
    }
}

.bg-img-services {
    background-image: url('/images/HuggleFromAbove.png');
}
