{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}


{% block hero %}

  {# gets the blog widget which is a large slider #}
  {{ aposSingleton(page, 'featured', 'blog') }}

{% endblock %}


{% block mainContent %}

  <div class="intro-quote-section">
    <div class="container">
      <blockquote>
        {{ aposArea(page, 'introquote', { textOnly: true, controls: ['style', 'bold', 'italic'] }) }}
      </blockquote>
    </div>
  </div>

  <div class="our-work-home-quote">
    <div class="container">
      <blockquote>
        {{ aposArea(page, 'homeourworkquote', { textOnly: true, controls: ['style', 'bold', 'italic'] }) }}
      </blockquote>
      {{ aposSingleton(page, 'homeourworkimgs', 'blog') }}
    </div>
  </div>

{% endblock %}
